<div class="container h-screen p-3 grid grid-cols-2 grid-rows-12 gap-5 bg-bbbb text-b dark:bg-b dark:text-bbbb">
    <div class="col-span-2 row-span-1 rounded-lg grid grid-cols-3">
        <span>1</span>
        <span>2</span>
        <span>3</span>
    </div>
    <div class="col-span-1 row-span-11 rounded-lg shadow-m-center flex justify-center items-center">
        @for (clock of this.clock.getTestSubject() | async; track $index) {
        <span>{{clock | json}}</span>
        }
    </div>
    <span class="col-span-1 row-span-11 rounded-lg shadow-m-center flex justify-center items-center">
        <span>ABC</span>
    </span>
</div>

<button class="button button__add">
    ➕
</button>